#activities {
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
#heading {
	text-align: center;
	margin-bottom: 3em;
}
body {
	background-color: #42f4d9;
}
h2 {
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}
td {
	border-left: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	padding: 6px 6px 6px 12px;
	color: #6D929B;
}
th {
	font: bold 11px "Trebuchet MS", Verdana, Arial, Helvetica,
	sans-serif;
	color: #6D929B;
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	border-top: 1px solid #C1DAD7;
	letter-spacing: 2px;
	text-transform: uppercase;
	text-align: left;
	padding: 6px 6px 6px 12px;
	background: #CAE8EA url(images/bg_header.jpg) no-repeat;
}
#activities th:nth-child(2), #activities th:nth-child(3), #activities th:nth-child(5), #activities th:nth-child(6), #activities th:nth-child(7), #activities th:nth-child(8) {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
}
#activities {
	text-align: center;
}
#runs {
	margin: auto;
}
#filters {
	text-align: center;
}
.runitem {
	text-decoration: underline;
	font-weight: bold;
	cursor:pointer;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
 
li {
  font: 200 20px/1.1 Helvetica, Verdana, sans-serif;
  color: #c6273f;
}
.green {
	color: #1c9e45;
}
.red {
	color: #db0832;
}
.highlight tr:nth-child(2n) {
  background-color: #e9e5e5;
}
.highlight tr {
  background-color: white;
}
.highlight tr:nth-child(2n):hover, .highlight tr:hover {
  background-color: #ffff99;
}
.highlightOnly tr:hover {
  background-color: #ffff99;
}
.highlightOnly td:first-child {
  font-weight: bold
}
