#control
{
	float: right;
}
#activities
{
	font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.button2
{
	width: 16em;
    background: green;
    color: #fff;
    font-size: 1em;
    font-family: "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
    cursor: pointer;
    padding: 0.5em 1em;
    font-weight: bold;
}
#heading
{
	text-align: center;
	margin-bottom: 3em;
	color: #42dcf4;
}
#operate
{
	float: left;
	background: #EBEBEB;
	margin-left: 2em;
	width: 32em;
}
.menus
{
	padding: 0.5em 1em;
	font-weight: bold;
	width: 15em;
}
#info
{
	float: right;
}
h2
{
    display: block;
    font-size: 1.5em;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    font-weight: bold;
}